<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamePage</title>
    <link rel="stylesheet" href="/css/home.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Cabin+Sketch:wght@700&family=Cinzel+Decorative:wght@900&family=Kaushan+Script&family=Love+Ya+Like+A+Sister&family=Press+Start+2P&family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="vol">
        <img id="volume-button" src="/images/speaker.png" onclick="changeImage()">
        <div class="speech-bubble"><h1 style="font-size: 2rem;">6</h1></div> 
    </div>
    <div class="row upper" style="font-family: 'Cinzel Decorative', cursive;">
        <div class="col col-lg-3 col-md-4 col-sm-6 person"><img class="person-image" src="/images/man2.png"><p>Rao Mayank</p></div>
        <div class="col col-lg-3 col-md-4 col-sm-6 person"><img class="person-image" src="/images/man2.png"><p>Pepso</p></div>
        <div class="col col-lg-3 col-md-4 col-sm-6 person"><img class="person-image" src="/images/man2.png"><p>Ritik</p></div>
        <div class="col col-lg-3 col-md-4 col-sm-6 person"><img class="person-image" src="/images/man2.png"><p>Piyush</p></div>
    </div>
    
</div>

<div class="row middle-sec">
     <div class="col col-lg-4 col-md-6 col-sm-6 queue">
        <div class="queue-box">
            <ul class="queue-ul" style="list-style: none; font-family: 'Cabin Sketch', cursive;">
                <li class="queue-li" style="border-bottom:1px solid white;">2</li>
                <li class="queue-li" style="border-bottom:1px solid white;">2</li>
                <li class="queue-li" style="border-bottom:1px solid white;">2</li>
                <li class="queue-li" style="border-bottom:1px solid white;">2</li>
                <li class="queue-li">2</li>
            </ul>
        </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-6 bingo-box" id="bingobox">
        <table class="bingo-table" style="font-family: 'Press Start 2P', cursive;">
            <tr>
                <td class="box" id="00">1</td>
                <td class="box" id="01">2</td>
                <td class="box" id="02">1</td>
                <td class="box" id="03">2</td>
                <td class="box" id="04">1</td>
            </tr>
            <tr>
                <td class="box" id="10">1</td>
                <td class="box" id="11">2</td>
                <td class="box" id="12">1</td>
                <td class="box" id="13">2</td>
                <td class="box" id="14">1</td>
            </tr>
            <tr>
                <td class="box" id="20">1</td>
                <td class="box" id="21">2</td>
                <td class="box" id="22">1</td>
                <td class="box" id="23">2</td>
                <td class="box" id="24">1</td>
            </tr>
            <tr>
                <td class="box" id="30">1</td>
                <td class="box" id="31">2</td>
                <td class="box" id="32">1</td>
                <td class="box" id="33">2</td>
                <td class="box" id="34">1</td>
            </tr>
            <tr>
                <td class="box" id="40">1</td>
                <td class="box" id="41">2</td>
                <td class="box" id="42">1</td>
                <td class="box" id="43">2</td>
                <td class="box" id="44">1</td>
            </tr>
        </table>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-6 bingo-word">
            <div class="child" style="font-family: 'Kaushan Script', cursive;"><p>B<br>I<br>N<br>G<br>O</p></div>
            <div class="child bar">
                <div class="common-meter meter-B"></div>
                <div class="common-meter meter-I"></div>
                <div class="common-meter meter-N"></div>
                <div class="common-meter meter-G"></div>
                <div class="common-meter meter-O"></div>
            </div>

    </div>
</div>

<!-- Button trigger modal -->
<div class="rules-button-div">
    <button type="button" class="rules-button btn btn-dark" data-toggle="modal" data-target="#Rules-modal">
        <span style="font-family: 'Raleway', sans-serif;">Peek Rules</span>
    </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="Rules-modal" tabindex="-1" role="dialog" aria-labelledby="Rules-modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Rules-modalLongTitle">KNOW YOUR BINGO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>1. RESPECT ADMINS</p>
          <p>2. RESPECT ONLY 2 ADMINS</p>
          <p>3. RESPECT PEPSO</p>
          <p>4. RESPECT RAO</p>
          <p>5. NOW ENJOY THE GAME</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div id="chatbox" class="message">
    <div id="timeline">
      <ul>
        <li>a</li>
        <li>b</li>
        <li>a</li>
        <li>b</li>
        <li>a</li>
      </ul>
    </div>
    <hr style="border-top:1px solid white;">
    <div id="message-box">
      <p>Helo</p>
    </div>
    <div id="send-box" style=" bottom: 0; margin-top: 30px; position: fixed;">
      <form method="post" id="send-message">
        <input type="text" placeholder="Enter your message" id="chat-box" autocomplete="off">
        <button type="submit" style="background: transparent; outline: none; border: none; color: white;"><i
            class="fas fa-paper-plane"></i></button>
      </form>
    </div>
  </div>



<script>
    var sound=true;
    function changeImage() {
        if(sound){
          sound=false;
          document.getElementById("volume-button").src = "/images/mutes.png";
        }
        else{
          sound=true;
          document.getElementById("volume-button").src ="/images/speaker.png";
        }
    }


</script>

    
</body>
</html>