/* font-family: 'Arima Madurai', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
   overflow: hidden;
   margin:0;
   background-image: url(/images/cover-photo2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}



.header .vol #volume-button{
    position:absolute;
    height:100px;
    padding:20px;
    margin-left: 5px;
    cursor:pointer;
}

.upper{
    width:50%;
    position: relative;
    left:21%;
    right:25%;
    text-align: center;
}

.upper .person .person-image{
    height:100px;
    padding:10px;
   
}

.upper .person{
    
}
.middle{
    padding-right: 20%;
}
table{
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    margin-top:5%;
  }
  
  table td{
      width: 70px;
      height: 70px;
  }
  
  .bingo-table .box{
    color:white;
    border: 2px solid white;
    background-color:black;
  }


.queue-box{
    
    height:100%;
}

.queue-ul{
   margin-left: 10%;
   width:100px;
   padding:0;
}
.queue-li{
    font-size: 3rem;
    padding:0;
    text-align: center;
    color:aliceblue;
    /* background-color: #4d79ff; */
    /* text-align: left; */
}

.bingo-word{
    font-size: 3rem;
}

.child{
width: 2%;
height:100%;
float: left;
}

.bar{
    /* background-color:white; */
    margin-top: 4.5%;
    margin-left:12%;
    height:85%;
    /* border: 1px solid black; */
}

.height{
    height:20%;
}

.meter-B{
    background-color:#ff0000;
}
.meter-I{
    background-color: #e60000;
}
.meter-N{
    background-color: #cc0000;
}
.meter-G{
    background-color: #b30000;
}
.meter-O{
    background-color: #990000;
}

.vol {
    display:inline-flex;
    width:100%;
    height:80px;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
    height:50px;
    width:70px;
    margin-left:24%;
    margin-top: 1.5%;
    text-align: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.563em solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -1.562em;
	margin-bottom: -0.562em;
    
}
.rules-button-div{
    height:50px;
    display: flex;
    flex-direction: column;
}

.rules-button{
    /* margin-top: -0.8%; */
    margin-left: 3%;
    width:100px;
}

#win{
    visibility: hidden;
}

#exit-btn{
    margin-left: 3%;
    margin-top: 2%;;
    width:100px;
    
}
#exit-tag{
    text-decoration: none;
    color:white
}
.message{
    height: 100vh;
    /* 100% Full-height */
    width: 300px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    bottom: 0;
    right:0;
    /* Stay at the top */
    /* left: 97rem; */
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    padding: 10px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }

  #timeline{
    height: 39vh;
    color: #fff;
  }

  #message-box {
    /* display: none; */
    height: 60vh;
    overflow-y: auto;
  }



  .message-user {
    padding-bottom: 5px;
    font-size: 13px;
    color: #818181;
    margin: 0px 5px;
    display: block;
  }

  .chat-message {
    background-color: white;
    width: 50%;
    padding: 4px;
    font-size: 14px;
    margin: 5px 5px;
    overflow-wrap: break-word;
    border-radius: 9px;
  }

  #chat-box {
    padding: 5px 5px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
  }

  .left {
    float: left;
    clear: both;
  }

  .right {
    float: right;
    clear: both;
  }

  .roomId-container{
    padding:5px;
    position: absolute;
    top:35%;
  }

  .roomId-container input {
    width: 80%;
    height:30px;
    margin-left: 18px;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 20px;
    /* border: 2px dashed rgb(110, 110, 255); */
    border-radius: 6px;
    background: #64d8ed;
    color: #607d8b;
  }
  #roomId{
    cursor: -webkit-grab; 
    cursor: grab;
    text-align: center;
    font-weight: 900;
  }
  #copyURLBtn{
    cursor:pointer;
  }

  .exit-button-div{
    position:absolute;
    bottom:10%;
  }

  .toast {
    position: absolute;
    bottom: 10px;
    right: 55%;
    transform: translate(50%, 60px);
    padding: 10px 20px;
    background: rgb(167, 153, 220);
    color: black;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform ease-in-out 0.2s;
  }
  
  .show.toast {
    transform: translate(50%, 0);
  }
  .cut{
    background-color: rgb(255, 100, 100);
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
  }